*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1312px;
    margin: auto;
}
header {
    height: 180px;
    background-color: rgb(77, 160, 254);
    background-image:url('../img/pattern.png');
    position: relative;
}

.logo {
   height: 90px; 
   position: absolute;
   transform: translate(3%,80%);
}
