*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1312px;
    margin: auto;
}
header {
    height: 180px;
    background-color: rgb(77, 160, 254);
    background-image:url('../img/pattern.png');
    position: relative;
    margin-bottom: 20px;
}

.logo {
   height: 90px; 
   position: absolute;
   transform: translate(3%,80%);
}

.autore-grigio {  
    color: grey;
    font-size: 20px;
}

.autore-blu {
    color: rgb(25%, 72%, 92%);
    font-weight: bold;
    font-size: 20px;
}

.data {
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}

.second-img {
    margin-bottom: 20px;
}

.text-highlighted {
    background-color: yellow;
}

.elenco {
    margin-top: 20px;
    margin-left: 20px;
}

.tabella {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.cella-larga {
    width: 40%;
}
.intestazione-azzurra {
    background-color: rgb(10%, 67%, 90%);
    color: white;
}
.riga-azzurra {
    background-color: rgb(70%, 90%, 95%);
}
.riga-bianca {
    background-color: white;
}
